.aboba{
    background-color: aqua;
}
.aboba{
    background-color: aqua;
}
.aboba{
    background-color: aqua;
}
.pik4a_3:hover{
    transform: scale(1.2) translateY(-50px);
    opacity: 100%;
    box-shadow: #ffffff 0px 0px 999999px;
}
.pik4a_3:hover{
    transform: scale(1.2) translateY(-50px);
    opacity: 100%;
    box-shadow: #ffffff 0px 0px 999999px;
}
.pik4a_3:hover{
    transform: scale(1.2) translateY(-50px);
    opacity: 100%;
    box-shadow: #ffffff 0px 0px 999999px;
}
.pik4a_3:hover{
    transform: scale(1.2) translateY(-50px);
    opacity: 100%;
    box-shadow: #ffffff 0px 0px 999999px;
}
.pik4a_3:hover{
    transform: scale(1.2) translateY(-50px);
    opacity: 100%;
    box-shadow: #ffffff 0px 0px 999999px;
}
.pik4a_3:hover{
    transform: scale(1.2) translateY(-50px);
    opacity: 100%;
    box-shadow: #ffffff 0px 0px 999999px;
}
.aboba{
    background-color: aqua;
}
.aboba{
    background-color: aqua;
}
.aboba{
    background-color: aqua;
}
.pik4a_3:hover{
    transform: scale(1.2) translateY(-50px);
    opacity: 100%;
    box-shadow: #ffffff 0px 0px 999999px;
}
.pik4a_3:hover{
    transform: scale(1.2) translateY(-50px);
    opacity: 100%;
    box-shadow: #ffffff 0px 0px 999999px;
}
.pik4a_3:hover{
    transform: scale(1.2) translateY(-50px);
    opacity: 100%;
    box-shadow: #ffffff 0px 0px 999999px;
}
.pik4a_3:hover{
    transform: scale(1.2) translateY(-50px);
    opacity: 100%;
    box-shadow: #ffffff 0px 0px 999999px;
}
.pik4a_3:hover{
    transform: scale(1.2) translateY(-50px);
    opacity: 100%;
    box-shadow: #ffffff 0px 0px 999999px;
}
.pik4a_3:hover{
    transform: scale(1.2) translateY(-50px);
    opacity: 100%;
    box-shadow: #ffffff 0px 0px 999999px;
}